<div class="capsule-card">
    <div class="intensity">@Capsule.Intensity</div>

    <div class="detail-wrapper">
        <img src="@Capsule.Image" />
        <div style="flex: 1 1 auto; min-width: 0;">
            <div class="name" title="@Capsule.Name">@Capsule.Name</div>
            <div class="details"><span>@Capsule.Notes</span> | <span>@Capsule.Profiles</span></div>
        </div>
    </div>

</div>